<html th:replace="~{Admin/Adminbase::layout(~{::main})}">

<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header bg-primary text-white">
						<h3 class="fw-bold text-center">
							Patient Enquires
						</h3>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>sr. No</th>
										<th>Patient Name</th>
										<th>Gender</th>
										<th>Email</th>
										<th>Contact No</th>
										<th>subject</th>
										<th>Message</th>
										<th>Enquiry.Date</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="e,srno:${EnquiryList}">
										<td th:text="${srno.index+1}"></td>
										<td th:text="${e.name}">ABCD</td>
										<td th:text="${e.gender}">abc</td>
										<td th:text="${e.email}">eaxample@gmail.com</td>
										<td th:text="${e.contactNo}">123454567</td>
										<td th:text="${e.subject}">123456789012</td>
										<td th:text="${e.message}">unknown address</td>
										<td th:text="${e.enquiryDate}">DD/MM/YYYY</td>
										<td>
											<a href="#" class="btn btn-success btn-sm">Edit</a>
											<a th:href="@{DeleteEnquiry(id=${e.id})}"   onclick="return confirm('Are you sure want to delete?')"   class="btn btn-danger btn-sm">Delete</a>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>