<html th:replace="~{Doctor/Doctorbase::layout(~{::main})}">
	
	<body>
		<main>
			<main class="profile-wrapper">
			  <section class="profile-card">
			    <div class="profile-left">
			      <img src="avatar2.jpg" alt="Profile Image" class="profile-image">
			    </div>

			    <div class="profile-right">
			      <h2 class="user-name">Ayesha Khan</h2>
			      <p class="user-title">Full Stack Developer</p>

			      <div class="user-details">
			        <p><strong>Email:</strong> ayesha.khan@example.com</p>
			        <p><strong>Phone:</strong> +91 98765 43210</p>
			        <p><strong>City:</strong> Bangalore, India</p>
			        <p><strong>Member Since:</strong> June 2023</p>
			      </div>

			      <div class="profile-buttons">
			        <a href="edit-profile.html" class="btn btn-edit">Edit</a>
			        <a href="dashboard.html" class="btn btn-back">Back</a>
			      </div>
			    </div>
			  </section>
			</main>

			
		</main>
	</body>
</html>