
<html th:replace="~{Doctor/Doctorbase::layout(~{::main})}">

    <body>
        <main>
            <div class="row">
                <div class="col-sm-10 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h4 class="text-center text-white fw-bold"> Write
                                Prescription for <span
                                    th:text="${appointment.patient.name}"
                                ></span>
                            </h4>
                        </div>
                        <div class="card-body">
                            <form method="post" th:action="@{/Doctor/WritePrescription}" th:object="${prescription}">
                                <div class="col-sm-12 mt-3">
                                    <label class="fw-bold">Diagonsis</label>
                                    <textarea rows="2" th:field="*{diagonsis}" class="form-control" required></textarea>
                                </div>

                                <div class="col-sm-12 mt-3">
                                    <label class="fw-bold">Advice</label>
                                    <textarea rows="2" th:field="*{advice}" class="form-control" required></textarea>
                                </div>

                                <div class="col-sm-12 mt-3">
                                    <label class="fw-bold">Medication</label>
                                    <textarea rows="2" th:field="*{medicationDetails}" class="form-control" required></textarea>

                                    <input type="hidden" name="appointmentId" th:value="${appointment.id}">
                                </div>

                                <div class="col-sm-12 text-center pt-5">
                                    <button type="submit" class="btn btn-primary px-5">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>